.full-page-section {
	height: 100vh;
	width: 100%;
	position: relative;
}

/* ==========================================================================
   Introduction
   ========================================================================== */

.intro-section {
	background-color: #000;
	color: #999;
	font-family: aktiv-grotesk-condensed, sans-serif;
	font-weight: 400;
	font-style: normal;
}

.intro-section-text {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	height: 100%;
}

.intro__summary {	
	font-size: 21px;
	line-height: 30px;
	width: 100%;
	margin-bottom: 20px;
	position: relative;
	padding-left: 20px;
}

.intro__summary .slant-line {
	bottom: 5px;
	left: 10px;
}

.intro__title {
	font-family: rockwell, sans-serif;
	font-size: 80px;
	line-height: 1.25em;
	color: #CD927A;
	width: 100%;
	margin-bottom: 0.6em; 
}

.intro__text {
	font-size: 26px;
	line-height: 1.6em;
	font-weight: 300;
	width: 90%;
}

.intro__text p {
	width: 90%;
}


/* ==========================================================================
   Projects
   ========================================================================== */

.projects-section {
	height: 100vh;
	width: 100%;
	overflow: hidden;
}

.slider {
	height: 100vh;
	width: 100%;
	position: relative;
}

.slide {
	display: flex;
	align-items: center;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 25;
	width: 100%;
	padding-bottom: 50px;
}

.slide-content {
	width: 35%;
	margin-left: 5%;
}

.slide-img {
	position: absolute;
	top: calc(50% + 10px);
	transform: translateY(-50%);
	right: -30%;
	z-index: 200;
	height: 75vh;
}

.slider-nav {
	position: absolute;
	z-index: 900;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.slider-nav ul {
	display: flex;
	align-items: center;
}

.slider-nav ul li {
	padding: 0.8em 1.2em;
	background-color: #CD927A;
	color: #000;
	font-family: 'aktiv-grotesk-condensed', sans-serif;
	font-size: 21px;
	line-height: 1em;
	font-weight: 400;
	font-style: normal;
	cursor: pointer;
}

.slider-nav ul li.is-visible {
	background-color: #333;
	color: #fff;
	cursor: pointer;
}

.slider-nav ul li.hvr-sweep-to-top:before {
  background: #333;
}

.slide-img {
	opacity: 0;
	transition: all 0.8s ease 0.4s;
}

.slide-content-body,
.slider-title .project-title,
.slider-title .project-subtitle {
	opacity: 0;
	transition: all 0.8s ease 0.4s;
}

.slider-title .project-num {
	opacity: 0;
	transition: all 0.8s ease 0.4s;
}

.slide-content-body {
	transform: translateY(20%);
	opacity: 0;
}

.slider-title .project-title {
	transform: translateY(-20%);
	opacity: 0;
}

.slider-title .project-subtitle {
	transform: translateY(20%);
	opacity: 0;
}

.slider-title .project-num {
	transform: translateY(-20%);
	opacity: 0;
}

.slide.is-visible {
	z-index: 30;
}

.slide.is-visible .slide-content-body {
	transform: translateY(0);
	opacity: 1;
	transition: all 0.8s ease 0.4s;
}

.slide.is-visible .slider-title .project-title{
	transform: translateY(0);
	opacity: 1;
	transition: all 0.8s ease 0.4s;
}

.slide.is-visible .slider-title .project-subtitle{
	transform: translateY(0);
	opacity: 1;
	transition: all 0.8s ease 0.4s;
}

.slide.is-visible .slider-title .project-num{
	transform: translateY(0);
	opacity: 1;
	transition: all 1.3s ease 0.8s;
}

.slide.is-visible .slide-img {
	right: -12%;
	opacity: 1;
	transition: all ease 0.8s;
}



/* ==========================================================================
   Resume Experience Section
   ========================================================================== */

.resume-title {
	position: relative;
}

.resume-actions {
	position: absolute;
	top: -20px;
	right: 0;
	font-family: aktiv-grotesk-condensed, sans-serif;
	display: flex;
	justify-content: space-between;
	width: 350px;
}

.resume-print .slant-line,
.resume-download .slant-line {
	bottom: -5px;
	left: -15px;
	height: 30px;
}

.resume-actions img {
	margin-right: 5px;
}

.resume-print,
.resume-download {
	height: 20px;
	margin-bottom: 12px; 
	position: relative;
}

/*.resume-experience-section {
	background-color: #F1DCD7;
}*/

.resume-experience-section > div {
	padding-top: 60px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	height: 100vh;
}

.experience-section {
	display: flex;
	margin-bottom: 40px;
}

.experience-section:last-child {
	margin-bottom: 0;
}

.experience-section-title {
	width: 35%;
}

.experience-section-title > div {
	margin-bottom: 10px;
}

.experience-section-title p {
	font-family: aktiv-grotesk-condensed, sans-serif;
}

.experience-section-desc {
	width: 55%;
}

/* ==========================================================================
   Resume Extra Section
   ========================================================================== */

/*.resume-extra-section {
	background-color: #F1DCD7;
}*/

.resume-extra-section > div {
	padding-top: 60px;
	display: flex;
	align-items: center;
	height: 100vh;
}

.extra-sections {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.extra-section {
	width: 50%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.extra-section h1 {
	margin-bottom: 15px;
}

.extra-section-block {
	width: 80%;
}

.extra-section-block {
	margin-bottom: 20px;
}

.extra-section-block > div {
	margin-bottom: 10px;
}

.skills-title {
	position: relative;
}

.education-block ul {
	margin-top: 10px;
	margin-bottom: 10px;
}

.education-block ul > li {
	margin-left: 25px;
}

.education-block ul > li::before {
	content: "-";
	margin-left: -25px;
}

.achievements-block ul {
	list-style-type: disc;
}

.achievements-block li {
	margin-bottom: 10px;
}

/* ==========================================================================
   Contact
   ========================================================================== */

.contact-section {
	background-color: #000;
	height: 100vh;
}

.contact-section > div {
	display: flex;
}

.contact-form {
	width: 50%;
	height: 100vh;
	display: flex;
	align-items: center;
}

.contact-form > div {
	width: 500px;
}

.contact-form h1 {
	color: #fff;
}

.thank-you {
	color: #CD927A;
	width: 50%;
	height: 100vh;
	font-family: rockwell, sans-serif;
	font-size: 72px;
	line-height: 90px; 
	display: flex;
	align-items: center;
	justify-content: center;
}

input[type=text] {
	background: transparent;
	border: none;
	border-bottom: 2px solid #CD927A;
	width: 100%;
	color: #fff;
	height: 40px;
}

textarea {
	width: 100%;
	height: 120px;
	background: transparent;
	border: none;
	border-bottom: 2px solid #CD927A;
	margin-top: 10px;
	color: #fff;
}

input[type=text]::placeholder,
textarea::placeholder {
	color: #999;
	margin-bottom: 10px;
}

.form-field {
	margin-bottom: 40px;
}

.form-field--last {
	margin-bottom: 30px;
}

.contact-form .button {
	color: #fff;
	cursor: pointer;
}

.contact-form .action {
	margin-top: 50px;
}

.contact-form .button.hvr-sweep-to-top:hover, 
.contact-form .button.hvr-sweep-to-top:focus, 
.contact-form .button.hvr-sweep-to-top:active {
  color: #000;
}


/* 
---------------------------------------------
Media Queries
---------------------------------------------
*/
@media screen and (max-width: 1600px) {
	
}

@media screen and (max-width: 1440px) {
	
}

@media screen and (max-width: 1376px) {
	.thank-you {
		font-size: 66px;
		line-height: 84px;
	}

	.slider-nav ul li {
		font-size: 18px;
	}
}

@media screen and (max-width: 1280px) {
	.intro__title {
		font-size: 72px;
	}

	.intro__text {
		font-size: 24px;
	}
}

@media screen and (max-width: 1176px) {
	.intro__title {
		font-size: 64px;
	}

	.intro__summary {	
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 1024px) {
	.intro__title {
		font-size: 56px;
	}
}

@media screen and (max-width: 968px) {
	.intro__title {
		font-size: 48px;
	}

	.intro__summary {	
		margin-bottom: 20px;
	}

}

@media screen and (max-width: 767px) {
	.intro__title {
		font-size: 42px;
	}

	.intro__text {
		font-size: 18px;
	}

	.intro__text p {
		width: 100%;
	}
}
@media screen and (max-width: 480px) {

}

@media screen and (max-width: 320px) {

}