.full-page-section {
	height: 100vh;
	width: 100%;
	position: relative;
}

/* ==========================================================================
   Introduction
   ========================================================================== */

.intro-section {
	background-color: #000;
	color: #999;
	font-family: aktiv-grotesk-condensed, sans-serif;
	font-weight: 400;
	font-style: normal;
}

.intro-section-text {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	height: 100%;
}

.intro__summary {	
	font-size: 21px;
	line-height: 1.4em;
	width: 100%;
	margin-bottom: 1em;
	position: relative;
	padding-left: 1em;
}

.intro__summary .slant-line {
	bottom: 0.15em;
	left: 0.5em;
}

.intro__title {
	font-family: rockwell, sans-serif;
	font-size: 80px;
	line-height: 1.25em;
	color: #CD927A;
	width: 100%;
	margin-bottom: 0.6em; 
}

.intro__text {
	font-size: 26px;
	line-height: 1.6em;
	font-weight: 300;
	width: 90%;
}

.intro__text p {
	width: 90%;
}


/* ==========================================================================
   Projects
   ========================================================================== */

.projects-section {
	height: 100vh;
	width: 100%;
	overflow: hidden;
}

.slider {
	height: 100vh;
	width: 100%;
	position: relative;
}

.slide {
	display: flex;
	align-items: center;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 25;
	width: 100%;
	padding-bottom: 50px;
}

.slide-content {
	width: 35%;
	margin-left: 5%;
}

.slide-img {
	position: absolute;
	top: calc(50% + 10px);
	transform: translateY(-50%);
	right: -30%;
	z-index: 200;
	height: 75vh;
}

.slider-nav {
	position: absolute;
	z-index: 900;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.slider-nav ul {
	display: flex;
	align-items: center;
}

.slider-nav ul li {
	padding: 0.8em 1.2em;
	background-color: #CD927A;
	color: #000;
	font-family: 'aktiv-grotesk-condensed', sans-serif;
	font-size: 21px;
	line-height: 1em;
	font-weight: 400;
	font-style: normal;
	cursor: pointer;
}

.slider-nav ul li.is-visible {
	background-color: #333;
	color: #fff;
	cursor: pointer;
}

.slider-nav ul li.hvr-sweep-to-top:before {
  background: #333;
}

.slide-img {
	opacity: 0;
	transition: all 0.8s ease 0.4s;
}

.slide-content-body,
.slider-title .project-title,
.slider-title .project-subtitle {
	opacity: 0;
	transition: all 0.8s ease 0.4s;
}

.slider-title .project-num {
	opacity: 0;
	transition: all 0.8s ease 0.4s;
}

.slide-content-body {
	transform: translateY(20%);
	opacity: 0;
}

.slider-title .project-title {
	transform: translateY(-20%);
	opacity: 0;
}

.slider-title .project-subtitle {
	transform: translateY(20%);
	opacity: 0;
}

.slider-title .project-num {
	transform: translateY(-20%);
	opacity: 0;
}

.slide.is-visible {
	z-index: 30;
}

.slide.is-visible .slide-content-body {
	transform: translateY(0);
	opacity: 1;
	transition: all 0.8s ease 0.4s;
}

.slide.is-visible .slider-title .project-title{
	transform: translateY(0);
	opacity: 1;
	transition: all 0.8s ease 0.4s;
}

.slide.is-visible .slider-title .project-subtitle{
	transform: translateY(0);
	opacity: 1;
	transition: all 0.8s ease 0.4s;
}

.slide.is-visible .slider-title .project-num{
	transform: translateY(0);
	opacity: 1;
	transition: all 1.3s ease 0.8s;
}

.slide.is-visible .slide-img {
	right: -12%;
	opacity: 1;
	transition: all ease 0.8s;
}



/* ==========================================================================
   Resume Experience Section
   ========================================================================== */

.resume-section {
	margin-bottom: 25px;
}

.resume-experience-section {
	position: relative;
	padding-top: 100px;
	margin-bottom: 75px;
}

.resume-actions {
	position: absolute;
	top: 85px;
	right: 0;
	font-family: aktiv-grotesk-condensed, sans-serif;
	display: flex;
	justify-content: space-between;
	width: 350px;
}

.resume-print .slant-line,
.resume-download .slant-line {
	bottom: -5px;
	left: -15px;
	height: 30px;
}

.resume-actions img {
	margin-right: 5px;
	height: 20px;
}

.resume-print,
.resume-download {
	height: 20px;
	margin-bottom: 12px; 
	position: relative;
}

.resume-title {
	margin-bottom: 40px;
}

.experience-section {
	display: flex;
	margin-bottom: 50px;
}

.experience-section-title {
	width: 40%;
}

.experience-section-desc {
	width: 55%;
}

.extra-sections {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.extra-section {
	width: 45%;
	margin-top: 10px;
	margin-bottom: 50px;
}

.extra-section h1 {
	margin-bottom: 30px;
}

.extra-section-block {
	width: 90%;
	margin-bottom: 25px;
}

.skills-title {
	position: relative;
}

.education-block ul {
	margin-top: 10px;
	margin-bottom: 10px;
}

.education-block ul > li {
	margin-left: 25px;
}

.education-block ul > li::before {
	content: "-";
	margin-left: -25px;
}

.achievements-block ul {
	list-style-type: disc;
}

.achievements-block li {
	margin-bottom: 10px;
}

/* ==========================================================================
   Contact
   ========================================================================== */

.contact-section {
	background-color: #000;
	height: 100vh;
}

.contact-section > div {
	display: flex;
}

.contact-form {
	width: 50%;
	height: 100vh;
	display: flex;
	align-items: center;
}

.contact-form > div {
	width: 500px;
}

.contact-form h1 {
	color: #fff;
}

.thank-you {
	color: #CD927A;
	width: 50%;
	height: 100vh;
	font-family: rockwell, sans-serif;
	font-size: 72px;
	line-height: 1.25em; 
	display: flex;
	align-items: center;
	justify-content: center;
}

input[type=text] {
	background: transparent;
	border: none;
	border-bottom: 2px solid #CD927A;
	width: 100%;
	color: #fff;
	height: 40px;
}

textarea {
	width: 100%;
	height: 120px;
	background: transparent;
	border: none;
	border-bottom: 2px solid #CD927A;
	margin-top: 10px;
	color: #fff;
}

input[type=text]::placeholder,
textarea::placeholder {
	color: #999;
	margin-bottom: 10px;
}

.form-field {
	margin-bottom: 40px;
}

.form-field--last {
	margin-bottom: 30px;
}

.contact-form .button {
	color: #fff;
	cursor: pointer;
}

.contact-form .action {
	margin-top: 50px;
}

.contact-form .button.hvr-sweep-to-top:hover, 
.contact-form .button.hvr-sweep-to-top:focus, 
.contact-form .button.hvr-sweep-to-top:active {
  color: #000;
}


/* 
---------------------------------------------
Media Queries
---------------------------------------------
*/

@media screen and (min-width: 2100px) {
	.resume-actions {
		width: 450px;
	}
}

@media screen and (max-width: 1600px) {
	.slide-img {
		max-height: 600px;
	}
}

@media screen and (max-width: 1440px) {

}

@media screen and (max-height: 650px)  {
	.slide {
		padding-top: 60px;
	}
}

@media screen and (max-width: 1376px), screen and (max-height: 650px)  {
	.intro__title {
		font-size: 70px;
	}

	.intro__text {
		font-size: 21px;
		width: 80%;
	}

	.slide-content {
      width: 40%;
    }

	.slide-img {
		max-height: 500px;
	}
}

@media screen and (max-width: 1280px) {
	.slide-content {
      width: 40%;
    }

	.slide-img {
		max-height: 450px;
	}

	.slider-nav ul li {
      font-size: 19px;
    }

    .thank-you {
    	font-size: 60px;
    }
}

@media screen and (max-width: 1176px), screen and (max-height: 550px) {
	.intro__summary {
		font-size: 18px;
	}

	.intro__title {
		font-size: 60px;
	}

	.intro__text {
		font-size: 18px;
	}

	.slide-img {
		max-height: 400px;
	}

	.experience-section {
		justify-content: space-between;
	}
}

@media screen and (max-width: 1024px) {
	.intro__title {
		font-size: 54px;
	}

	.thank-you {
		font-size: 54px;
	}
}

@media screen and (max-width: 968px) {
	.slide-img {
		max-height: 350px;
	}

	.resume-actions {
		display: none;
	}
}

@media screen and (max-width: 886px), screen and (max-height: 450px) {
	.intro__title {
		font-size: 48px;
	}

	.intro__text {
		width: 90%;
	}
}

@media screen and (max-width: 767px) {
	.intro__summary {
		font-size: 16px;
	}

	.intro__title {
		font-size: 36px;
	}

	.intro__text {
		font-size: 16px;
		width: 90%;
	}
}
@media screen and (max-width: 585px) {
    .intro__title {
		font-size: 28px;
	}
}
@media screen and (max-width: 480px) {

}

@media screen and (max-width: 320px) {

}



/*@media screen and (min-width: 2100px) {
	.intro__summary {
		font-size: 36px;
		padding-left: 30px;
	}

	.intro__title {
      font-size: 120px;
      letter-spacing: 1px;
    }

    .intro__text {
    	font-size: 42px;
    	width: 100%;
    }

    .intro__text p {
    	width: 90%;
    	letter-spacing: 0.5px;
    }

    .slider-nav ul li {
    	font-size: 36px;
    }

    .resume-experience-section > div {
    	padding-top: 150px;
    }

    .resume-actions {
    	top: -100px;
    	width: 520px;
    }

    .resume-actions img {
    	height: 25px;
    	margin-right: 10px;
    }

    .resume-print .slant-line,
    .resume-download .slant-line {
    	height: 45px;
    	bottom: -20px;

    }

    .experience-section {
    	justify-content: space-between;
    	margin-bottom: 70px;
    }

    .experience-section-desc {
    	width: 60%;
    }

    .extra-section {
    	margin-top: 30px;
    	margin-bottom: 30px;
    }

    .thank-you {
    	font-size: 108px
    }

    .contact-section > div {
    	justify-content: space-between;
    }

    .contact-form {
    	width: 45%;
    }

    .contact-form > div {
    	width: 800px;
    }

    .form-field {
    	margin-bottom: 40px;
    }

    input[type=text] {
		border-bottom: 3px solid #CD927A;
		height: 80px;
	}

	textarea {
		height: 200px;
		border-bottom: 3px solid #CD927A;
		margin-top: 20px;
	}

	input[type=text]::placeholder,
	textarea::placeholder {
		margin-bottom: 0;
	}
}

@media screen and (max-width: 1600px) {
	
}

@media screen and (max-width: 1440px) {
	
}

@media screen and (max-width: 1376px) {
	.thank-you {
		font-size: 66px;
		line-height: 84px;
	}

	.slider-nav ul li {
		font-size: 18px;
	}
}

@media screen and (max-width: 1280px) {
	.intro__title {
		font-size: 60px;
	}

	.intro__text {
		font-size: 22px;
	}
}

@media screen and (max-width: 1176px) {
	.intro__title {
		font-size: 48px;
	}

	.intro__summary {	
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 1024px) {
	
}

@media screen and (max-width: 968px) {
	.intro__title {
		font-size: 48px;
	}

	.intro__summary {	
		margin-bottom: 20px;
	}

}

@media screen and (max-width: 767px) {
	.intro__title {
		font-size: 42px;
	}

	.intro__text {
		font-size: 18px;
	}

	.intro__text p {
		width: 100%;
	}
}
@media screen and (max-width: 480px) {

}

@media screen and (max-width: 320px) {

}*/