/*! HTML5 Boilerplate v7.1.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

 
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* 
---------------------------------------------
this code resets css styles for all elements
---------------------------------------------
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*:focus {
  outline: 0;
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


 /* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
    font-family: 'Global';
    src: url('../fonts/GlobalFont.ttf');
}

h1 {
  font-family: rockwell, sans-serif;
  font-size: 48px;
  line-height: 1.33em;
  margin-bottom: 0.625em; 
  color: #333;
}

h2 {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 21px;
  line-height: 1.4em;
  color: #CD927A;
}

h3 {
  font-family: aktiv-grotesk, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.4em;
  margin-bottom: 10px;
  color: #CD927A;
}

.project-title {
  font-family: rockwell, sans-serif;
  font-style: normal;
  font-size: 60px;
  line-height: 1.25em;
  color: #333;
  margin-bottom: 40px;
}

.slider-title {
  position: relative;
  margin-bottom: 30px;
}

.slider-title .project-title {
  color: #333;
  margin-bottom: 20px;
}

.slider-title .project-num {
  position: absolute;
  top: -65px;
  left: -120px;
  font-family: rockwell, sans-serif;
  font-size: 150px;
  line-height: 1em;
  color: rgba(77,77,77,0.1);
}

.slider-title .project-subtitle {
  font-family: 'aktiv-grotesk-condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  margin-left: 15px; 
  margin-bottom: 30px;
  position: relative;
}

.slider-title .slant-line {
  top: -5px;
  left: -10px;
  height: 30px;
}

.slide-content .button {
  margin-right: 20px;
  display: inline-block;
}

.slide-content .button.inactive {
  background-color: #CCC;
  cursor: default;
}

.project-desc {
  margin-bottom: 50px;
}

a {
  text-decoration: none;
  color: #4D4D4D;
}

div.slant-line {
  height: 50px;
  width: 2px;
  background-color: #CD927A;
  position: absolute; 
  transform: rotate(25deg);
}

.button {
  font-family: aktiv-grotesk-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #333;
  font-size: 21px;
  line-height: 1em;
  border: 2px solid #CD927A;
  padding: 0.5em 1.3em;
}

.hvr-sweep-to-top:before {
  background: #CD927A;
}

.button--large {
  font-size: 26px;
  padding: 0.75em 1.5em;
}

.container {
  font-family: aktiv-grotesk, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #4D4D4D;
}

.restrict-width {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

header {
  background-color: #000;
  height: 60px;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

header.light-bg {
  background-color: #fff;

}

.menu-nav {
  display: flex;
  align-items: center;
}

header.light-bg .menu-nav {
  border-bottom: 3px solid #F2F2F2;
}

header.light-bg .menu-nav.no-border {
  border-bottom: none;
}

header a {
  color: #F2F2F2;
}


nav {
  display: flex;
  width: 60%;
  justify-content: flex-end;
  font-family: aktiv-grotesk, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1em;
  letter-spacing: 0.75px;
  color: #F2F2F2;
}

header.light-bg nav,
header.light-bg nav a {
  color: #333;
}

nav ul {
  display: flex;
  height: 60px;
  align-items: center;
}

nav li.hvr-sweep-to-top {
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

nav li.selected:not(:last-child) {
  color: #000;
  background-color: #CD927A;
}

nav li.hvr-sweep-to-top:hover, 
nav li.hvr-sweep-to-top:focus, 
nav li.hvr-sweep-to-top:active,
nav li.hvr-sweep-to-top:hover a, 
nav li.hvr-sweep-to-top:focus a, 
nav li.hvr-sweep-to-top:active a {
  color: #000;
}

.logo {
  font-family: 'Global', cursive;
  font-size: 52px;
  line-height: 1em;
  color: #F2F2F2;
  width: 40%;
  cursor: pointer;
  letter-spacing: 1px;
}

header.light-bg .logo {
  color: #333;
}

header .linkedin--white {
  display: block;
}

header .linkedin--black {
  display: none;
}

header.light-bg .linkedin--white {
  display: none;
}

header.light-bg .linkedin--black {
  display: block;
}

.linkedin img{
  height: 16px;
}

.scroll-text {
  position: absolute;
  bottom: 11vh;
  left: 50%;
  transform: translate(-50%);
  font-size: 18px;
  line-height: 1.6;
}

.scroll-line {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  width: 2px;
  height: 10vh;
  background-color: #CD927A;
  
}

.scroll-line.buzz {
  animation: 1.5s buzz linear 0.5s infinite;
}

@keyframes buzz {
    25% {
        bottom: -20px;
    }
    50% {
       bottom: 0; 
    }
}


 /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

 
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

  @media screen and (min-width: 2100px) {

    .container {
      font-size: 28px;
      line-height: 48px;
    }

    .restrict-width {
      max-width: 1800px;
    }

    h1 {
      font-size: 72px;
    }

    h2 {
      font-size: 30px;
    }

    h3 {
      font-size: 36px;
      margin-bottom: 20px;
    }

    .scroll-text {
      font-size: 28px;
    }

    .scroll-line {
      width: 3px;
    }

    header {
      height: 150px;
    }

    .logo {
      font-size: 120px;
    }

    nav {
      font-size: 24px;
    }

    nav ul {
      height: 150px;
    }

    .linkedin img {
      height: 28px;
    }

    .button {
      font-size: 36px;
    }

    .project-title {
      font-size: 96px;
      margin-bottom: 60px;
    }

    .slider-title .project-title {
      margin-bottom: 40px;
    }

    .slider-title .project-num {
      font-size: 225px;
      top: -75px;
      left: -185px;
    }

    .slider-title .slant-line {
      height: 45px;
      bottom: -20px;
      left: -15px;
    }

    .slider-title .project-subtitle {
      font-size: 28px;
      margin-bottom: 50px;
      margin-left: 15px;
    }

  }

  @media screen and (max-width: 1600px) {
  
  }

  @media screen and (max-width: 1440px) {
    
  }

  @media screen and (max-width: 1376px) {
    .restrict-width {
      padding: 0 40px;
    }

    h1 {
      font-size: 42px;
      line-height: 56px;
      margin-bottom: 20px; 
    }

    h2 {
      font-size: 21px;
      line-height: 30px;
    }

    h3 {
      font-size: 21px;
      line-height: 30px;
      margin-bottom: 10px;
    }

    .container {
      font-size: 16px;
      line-height: 24px;
    }

    .project-title {
      font-size: 48px;
      margin-bottom: 25px;
    }

    .slider-title .project-subtitle {
      font-size: 16px;
      margin-bottom: 24px;
    }

    .slider-title .project-num {
      font-family: 'rockwell-condensed';
      font-size: 128px;
      top: -50px;
      left: -65px;
    }
  }

  @media screen and (max-width: 1280px) {

  }

  @media screen and (max-width: 1176px) {
    
  }

  @media screen and (max-width: 1024px) {
    
  }

  @media screen and (max-width: 968px) {
    .restrict-width {
      padding: 0 30px;
    }
  }

  @media screen and (max-width: 767px) {

  }

  @media screen and (max-width: 585px) {
    .restrict-width {
      padding: 0 40px;
    }
  }

  @media screen and (max-width: 480px) {

  }

  @media screen and (max-width: 320px) {

  }


@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

 
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


